astroid==2.9.0
black==21.12b0
click==8.0.3
isort==5.10.1
lazy-object-proxy==1.6.0
mccabe==0.6.1
mypy-extensions==0.4.3
numpy==1.21.4
parse==1.19.0
pathspec==0.9.0
platformdirs==2.4.0
prettytable==2.4.0
pylint==2.12.2
toml==0.10.2
tomli==1.2.2
typing-extensions==4.0.1
wcwidth==0.2.5
wrapt==1.13.3
